*.ext filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.extensão filter=lfs diff=lfs merge=lfs -text
node_modules/puppeteer-core/.local-chromium/** filter=lfs diff=lfs merge=lfs -text
